 circle.highlighted {
        stroke: grey;
        stroke-width: 2;
      }
      svg {
      	display: block;
      	margin : 2%;
      }
      .dashboard-heading {
      	display: block;
      	margin-left: 3%;
      }

 .dashboard-heading{
    margin: 1%;
 }

 #diagram {
    display: flex;
 }

 .dashboard{
    align-items: center;
 }

/* Table Styles */
table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    align-items: center;
}

th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;

}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 575.98px) { /* Styles for extra small devices */
    .diagram {
        width: 450px;
        height: 100px;
    }
    th {
        font-size: 8px
    }
    td {
        font-size: 7px
    }
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Styles for small devices */
    th {
        font-size: 12px
    }
    td {
        font-size: 10px
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Styles for medium devices */
    th {
        font-size: 14px
    }
    td {
        font-size: 12px
    }
    .dashboard-heading{
         font-size:25px
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Styles for large devices */ }

@media (min-width: 1200px) { /* Styles for extra large devices */ }
